<a href="https://colab.research.google.com/github/Laura-Neff/UnivariateFeatureImputation/blob/main/UnivariateFeatureImputation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [4]:
diabetes = pd.read_csv('diabetes.csv')

diabetes.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [5]:
diabetes.shape

(768, 9)

In [6]:
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [7]:
diabetes.describe().transpose()

#Here we can see that for Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin and BMI min value is 0. 
#For Pregnancies it is possible but for the rest it is impossible. 
#So that means these values are missing values

,count,mean,std,min,25%,50%,75%,max
Pregnancies,768.0,3.845052,3.369578,0.000,1.00000,3.0000,6.00000,17.00
Glucose,768.0,120.894531,31.972618,0.000,99.00000,117.0000,140.25000,199.00
BloodPressure,768.0,69.105469,19.355807,0.000,62.00000,72.0000,80.00000,122.00
SkinThickness,768.0,20.536458,15.952218,0.000,0.00000,23.0000,32.00000,99.00
Insulin,768.0,79.799479,115.244002,0.000,0.00000,30.5000,127.25000,846.00
BMI,768.0,31.992578,7.884160,0.000,27.30000,32.0000,36.60000,67.10
DiabetesPedigreeFunction,768.0,0.471876,0.331329,0.078,0.24375,0.3725,0.62625,2.42
Age,768.0,33.240885,11.760232,21.000,24.00000,29.0000,41.00000,81.00
Outcome,768.0,0.348958,0.476951,0.000,0.00000,0.0000,1.00000,1.00

In [8]:
diabetes['Glucose'].replace(0, np.nan, inplace= True)
diabetes['BloodPressure'].replace(0, np.nan, inplace= True)
diabetes['SkinThickness'].replace(0, np.nan, inplace= True)
diabetes['Insulin'].replace(0, np.nan, inplace= True)
diabetes['BMI'].replace(0, np.nan, inplace= True)

#Replace 0 values with NaN

In [9]:
diabetes.isnull().sum()
#Sum the null values in every column

#We can see that Insulin and SkinThickness have a lot of missing values
#These are the two biggest columns to fix

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [10]:
arr = diabetes['SkinThickness'].values.reshape(-1, 1)

arr.shape

#Let's work on SkinThickness column first. Reshape in the form of a 2D array

(768, 1)

In [24]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

imp.fit(diabetes['SkinThickness'].values.reshape(-1, 1))

diabetes['SkinThickness'] = imp.transform(diabetes['SkinThickness'].values.reshape(-1, 1))

#In order to fill in missing values using inference from the current data we have available, use
#SimpleImputer estimator from SciKit-Learn 
#SimpleImputer offers a number of basic strategies for imputing or inferring missing values 
#You can fill in using a constant, the mean of the existing data, median, mode, etc.

#In the case of the Skin Thickness column, the stategy that will be used to fill in missing values will be the mode/most frequently seen value

In [25]:
diabetes['SkinThickness'].describe()

#When you use imputation techniques to fill in missing values, the statistical properties of your data will change 
#You have to be aware of this because imputation techniques will change the characteristics of your data and you have to be ok with this change based on your dataset and use case
#We don't have much data to work with, so we don't want to drop records with missing values and so that's why imputation works best

count    768.000000
mean      29.994792
std        8.886506
min        7.000000
25%       25.000000
50%       32.000000
75%       32.000000
max       99.000000
Name: SkinThickness, dtype: float64

In [13]:
diabetes.isnull().sum()

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness                 0
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [14]:
imp = SimpleImputer(missing_values=np.nan, strategy='median')

imp.fit(diabetes['Glucose'].values.reshape(-1, 1))

diabetes['Glucose'] = imp.transform(diabetes['Glucose'].values.reshape(-1, 1))

#Here Strategy = 'median' which means it will replace missing values using the median in the column Glucose.

In [15]:
diabetes['Glucose'].describe()

#You can see using this strategy that the mean didn't change that much and neither did the std
#So this is a great strategy

count    768.000000
mean     121.656250
std       30.438286
min       44.000000
25%       99.750000
50%      117.000000
75%      140.250000
max      199.000000
Name: Glucose, dtype: float64

In [16]:
diabetes.isnull().sum()

Pregnancies                   0
Glucose                       0
BloodPressure                35
SkinThickness                 0
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [17]:
imp = SimpleImputer(missing_values=np.nan, strategy='mean')

imp.fit(diabetes['BloodPressure'].values.reshape(-1, 1)) #fit being used on a series/column/record

diabetes['BloodPressure'] = imp.transform(diabetes['BloodPressure'].values.reshape(-1, 1)) #transform being used on the data frame/array

#Here Strategy = 'mean' which means it will replace missing values using the mean in the column.

In [18]:
diabetes['BloodPressure'].describe()

#The mean didn't change all that much since we used the mean strategy to fill in missing values after all
#But the std changed a lot, so this isn't the best strategy either -- because we imputed using the mean value
#mode values are centered at the mean

count    768.000000
mean      72.405184
std       12.096346
min       24.000000
25%       64.000000
50%       72.202592
75%       80.000000
max      122.000000
Name: BloodPressure, dtype: float64

In [19]:
imp = SimpleImputer(missing_values=np.nan, strategy='constant', fill_value=32)

imp.fit(diabetes['BMI'].values.reshape(-1, 1))

diabetes['BMI'] = imp.transform(diabetes['BMI'].values.reshape(-1, 1))

#Now use constant strategy

In [20]:
diabetes['BMI'].describe()
#mean stayed same (because 32 is the mean anyways), but std changed quite a bit

count    768.000000
mean      32.450911
std        6.875366
min       18.200000
25%       27.500000
50%       32.000000
75%       36.600000
max       67.100000
Name: BMI, dtype: float64

In [21]:
diabetes.isnull().sum()

Pregnancies                   0
Glucose                       0
BloodPressure                 0
SkinThickness                 0
Insulin                     374
BMI                           0
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [22]:
diabetes.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,394.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,121.656250,72.405184,29.994792,155.548223,32.450911,0.471876,33.240885,0.348958
std,3.369578,30.438286,12.096346,8.886506,118.775855,6.875366,0.331329,11.760232,0.476951
min,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.750000,64.000000,25.000000,76.250000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.202592,32.000000,125.000000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,190.000000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [23]:
diabetes.to_csv('diabetes_processed_incomplete.csv', index=False)

In [26]:
diabetes.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.000000,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.000000,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.000000,32.0,NaN,23.3,0.672,32,1
3,1,89.0,66.000000,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.000000,35.0,168.0,43.1,2.288,33,1
5,5,116.0,74.000000,32.0,NaN,25.6,0.201,30,0
6,3,78.0,50.000000,32.0,88.0,31.0,0.248,26,1
7,10,115.0,72.405184,32.0,NaN,35.3,0.134,29,0
8,2,197.0,70.000000,45.0,543.0,30.5,0.158,53,1
9,8,125.0,96.000000,32.0,NaN,32.0,0.232,54,1